<!doctype html>
<html lang="en">

<head>
    <title>
        BLOG
    </title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-spy="scroll" data-target="#mainNav" data-offset="0">

    <nav class="navbar-default " data-spy="affix" data-offset-top="0" id="mainNav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NAV">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>

                <a class="navbar-brand" href="base.html" id="title">
                  
                            <img   id="logo1" class="img-responsive" src="Screen%20Shot%202018-05-15%20at%203.47.55%20PM.png" width="150px" height="100px">
                       

                </a>
            </div>
            <div class="navbar-collapse collapse" id="NAV">

                <ul class="nav navbar-nav navbar-right">


                    <li>
                        <a href="#" id="a">
                            <dimen name="material_text_body2">ABOUT ME</dimen>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="a">
                            <dimen name="material_text_body2">SKILL</dimen>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="a">
                            <dimen name="material_text_body2">EDUCATION</dimen>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="a">
                            <dimen name="material_text_body2">NEWS</dimen>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="a">
                            <dimen name="material_text_body2">CONTACT</dimen>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>



    <div style="padding-top: 25px;"></div>
    <div class="container" id="con1">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <center>
                    <div class="polaroid" align="center">
                        <img class="img-thumbnail" id="profile" src="profile.jpeg">
                    </div>
                </center>
            </div>
            <div class="col-xs-12 col-md-6">
                <h3>
                    HI I'M <span>MANN SHAH</span>
                </h3>
                <h5>XYZ</h5>
                <p style="padding-bottom: 35px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
                <div class="row">
                    <div class="col-sm-2 col-md-3" id="desktop-info-a">
                        <dimen name="material_text_body2">
                            <h5>Age</h5>
                        </dimen>
                        <dimen name="material_text_body2">
                            <h5>E-mail</h5>
                        </dimen>
                        <dimen name="material_text_body2">
                            <h5>Website</h5>
                        </dimen>
                        <dimen name="material_text_body2">
                            <h5>Phone</h5>
                        </dimen>
                    </div>

                    <div class="col-sm-3 col-md-8 " id="desktop-info-b">
                        <dimen name="material_text_body1">
                            <h5>18</h5>
                        </dimen>
                        <dimen name="material_text_body1">
                            <h5>mannshah2712@gmail.com</h5>
                        </dimen>
                        <dimen name="material_text_body1">
                            <h5>www.mannshah.droppages.com</h5>
                        </dimen>
                        <dimen name="material_text_body1">
                            <h5>+91 9664969417</h5>
                        </dimen>
                    </div>
                </div>
                <div id="mobile-info">
                    <dimen name="material_text_body2">
                        <h5>Age&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;18</h5>
                    </dimen>
                    <dimen name="material_text_body2">
                        <h5>E-mail&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;mannshah2712@gmail.com</h5>
                    </dimen>
                    <dimen name="material_text_body2">
                        <h5>Website&emsp;&nbsp;&emsp;&emsp;&emsp;www.mannshah.droppages.com</h5>
                    </dimen>
                    <dimen name="material_text_body2">
                        <h5>Phone&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;+91 9664969417</h5>
                    </dimen>
                </div>
                <div id="social-m">

                    <img src="facebook.png" height="35px" width="40px">
                    <img src="twitter.png" height="35px" width="40px">
                    <img src="snapchat.png" height="35px" width="40px">
                    <img src="instagram.png" height="35px" width="40px">
                    <img src="Octocat.png" height="35px" width="40px">


                </div>

            </div>
        </div>
    </div>

    <div class="container" id="con2">
        <div class="row">
            <div class="col-sm-12 col-md-8" id="skill-back" style="background-image: url(skills-back.jpeg); width: 50%;  border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <h2>MY <span>SKILLS</span></h2>
                <div id="bars">
                    <h3 style="padding-bottom: 1px;">Skill 1<span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color: #FEC606;">
                        <p style="text-align: right; padding-right: 5px;">70%</p>
                        </div>
                    </div>
                                </span>
                    </h3>
                    <h3 style="padding-bottom: 1px;">Skill 2<span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color: #FEC606;">
                        <p style="text-align: right; padding-right: 5px;">40%</p>
                        </div>
                    </div>
                                </span>
                    </h3>
                    <h3 style="padding-bottom: 1px;">Skill 3<span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%; background-color: #FEC606;">
                        <p style="text-align: right; padding-right: 5px;">90%</p>
                        </div>
                    </div>
                                </span>
                    </h3>
                    <h3 style="padding-bottom: 1px;">Skill 4<span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:95%; background-color: #FEC606;">
                        <p style="text-align: right; padding-right: 5px;">95%</p>
                        </div>
                    </div>
                                </span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <h2>LATEST <span>ARTICLES</span></h2>

                <h3><b>Machine Learning</b><span><img class="img-circle " src="ml.png" height="100px" width="125px"   style="padding-left: 10px;" </span></h3>
                <div>
                    <p id="ml">Machine learning is the field of study that gives computer the ability to learn without being explicity programmed. &nbsp;<span><a href="#">more..</a> </span></p>
                </div>
                <h3><b>Internet Of Things</b><span><img class="img-circle" src="iot.jpeg" height="100px" width="125px" style="padding-left: 10px;"</span></h3>
                <div>
                    <p id="iot">The internet of things (IoT) is a computing concept that describes the idea of everyday physical objects being connected to the internet and being able to identify themselves to other devices. &nbsp; <span><a href="#">more..</a></span>
                    </p>
                </div>
                <h3><b>Driverless Cars</b><span><img class="img-circle" src="dr-c.jpeg" height="100px" width="125px" style="padding-left: 10px;"</span></h3>
                <div>
                    <p id="new">Once they are thought as to be imaginary but now google and many other leading companies have not only invested in the tech but also succeded in gaining satisfactory results. &nbsp;
                        <span><a href="#">more..</a></span>
                    </p>
                </div>

            </div>
        </div>

    </div>
    <div class="container">
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6314.331960824616!2d72.6264824196336!3d23.188749119071645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1526462537681" width="1430" height="350" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>

    <div class="container">
        <center>
            <h1>
                Best <span style="color: #FEC606">Youtube <i class="fa fa-youtube-play" style="font-size: 36px; padding-right:4px;"></i></span> Videos
            </h1>
        </center>
        <div>
            <span>
              <iframe width="375" height="350s" src="https://www.youtube.com/embed/pF4dtuJARGE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="375" height="350" src="https://www.youtube.com/embed/VYOjWnS4cMY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="375" height="350" src="https://www.youtube.com/embed/KtlgYxa6BMU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </span>

        </div>
    </div>

    <div class="container-fluid" style=" background: black;">
        <center>
            <h2 style="color: #FEC606"><b>
               MANN
           </b>
            </h2>
            <div style="padding-top: 10px;">
                <a href="#"><i class="fa fa-facebook-square" style="font-size: 36px; padding-right:4px;"></i></a>
                <a href="#"><i class="fa fa-twitter-square" style="font-size: 36px; padding-right:4px;"></i></a>
                <a href="#"><i class="fa fa-snapchat-square" style="font-size: 36px; padding-right:4px;"></i></a>
                <a href="#"><i class="fa fa-instagram" style="font-size: 36px; padding-right:4px;"></i></a>
                <a href="#"><i class="fa fa-github	" style="font-size: 36px; padding-right:4px;"></i></a>
            </div>
        </center>
        <p style="color: cornsilk;">Copyright<i class="glyphicon glyphicon-copyright-mark"></i>2018 All rights reserved | Website author : Mann Shah </p>
    </div>

</body>
